name: Python package publish

on:
  release:
    types: [created]

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Create virtual environment
        run: uv venv

      - name: Install dev dependencies
        run: uv pip install -e .[dev]

      - name: Build package using uv
        run: uv build

      - name: Publish package using uv
        run: uv publish
